src/main/resources/schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
targetNamespace="http//www.Optics.tc.com/command"
xmlns:tns="http//www.Optics.tc.com/command">
<element name="commands">
    <complexType>
        <sequence>
            <element name="command" type="tns:Command"
                     maxOccurs="unbounded"/>
        </sequence>
    </complexType>
</element>
<complexType name="Command">
<sequence>
    <element name="name" type="string"/>
    <element name="className" type="string"/>
</sequence>
</complexType>


</schema>